:root {
    --dark-primary-color: #202628;
    --dark-secondary-color: #202628;

    //--light-primary-color: #ebd2b3;
    --light-primary-color: #edd3b3;
    --light-primary-color-op50: #edd3b380;
    //--light-secondary-color: #b98f5e;
    //--light-secondary-color: #b98f5e;
    --light-secondary-color: #829494;


    --brown-accent-color: #8c4a32;
    --yellow-accent-color: #dd812b;
    --red-accent-color: #8c4a32;
    --green-accent-color: #366b79;
    --light-blue: #4e98a4;
}

.courgette-regular {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}
  

body {
    margin: 0;
    padding: 0;
    color: var(--dark-primary-color);
    background-color: var(--light-blue);
}

header {
    //background-color: #edd3b3;
    color: #edd3b3;
    padding: 20px 20px 5px 20px;
    text-align: center;
}

header h1 {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: var(--green-accent-color);
}

section {
    display: flex;
    align-items: center;
    padding: 40px;
    margin: 15px 40px 35px 40px;
    background-color: var(--light-primary-color-op50);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hideen; /* ensure any overflowing image content is clipped */
}

section:nth-of-type(even) {
    flex-direction: row-reverse;
}

.text {
    flex: 3;
    padding: 20px 20px 20px 5%;
}

section:nth-of-type(even) .text {
    text-align: right; /* align text to the right for reversed sections */
    padding: 20px 5% 20px 20px;
}

.image {
    flex: 2;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
}

.testimonial {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadows: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.testimonial:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.testimonial:nth-of-type(odd) .text {
    text-align: right; /* Aligns text to the right in reversed sections */
}

section:last-of-type {
    margin-bottom: 80px
}

.contact-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--yellow-accent-color);
    color: var(--dark-primary-color);
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: var(--dark-primary-color);
    color: var(--green-accent-color);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    section {
        flex-direction: column;
        text-align: center;
    }

    section > .image {
        display: none;
    }

    .text, .image {
        width: 100%;
        padding: 10px; /* Adjust padding as needed */
    }

    .image img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px; /* space between image and text */
    }

    section:nth-of-type(even) .text {
        text-align: center; /* Center text in reversed sections */
    }

    .testimonial {
        padding: 0px;
    }

    .testimonial .text {
        text-align: start;
    }

    .testimonial .image {
        display: none;
    }
}